<div *ngIf="this.quizzes.length > 0">
  <div class="title">
    <mat-card-title class="title">Quizzes</mat-card-title>
  </div>
  <div class="card-container">
    <mat-card *ngFor="let quiz of this.quizzes">
      <mat-card-content>
        <h2>{{ quiz.label }}</h2>
        <div>{{ quiz.description }}</div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="btn btn-primary">
          <a routerLink="/{{ quiz.name }}" class="btn btn-primary"
            >Select a quiz</a
          >
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
